@font-face {
  font-family: "NY";
  src: url("../fonts/New York/NewYork PERSONAL USE.otf");
}

main {
  background-color: #999999;
}

ul li a,
h1 {
  padding: 10px;
  color: #fff !important;
}

img {
  max-width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}